       h1{
            color: aqua;
       } 
       img{
            width: 400px;
       }
       #thirdDiv{
            height: 600px;
            width: 500px;
            background-color: blue;
            border: 15px solid black;
       }
       #spanId{
            font-size: 10px;
            margin: 50px;
       }
    